.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
    width: 5%;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
    filter: invert(1);
    background-color: rgba(0, 0, 0, 0.5); /* Optional: adds a semi-transparent background */
    border-radius: 50%;
    padding: 10px;
}

.custom-carousel .carousel-control-prev {
    left: -3%; /* Move the control outside */
}

.custom-carousel .carousel-control-next {
    right: -3%; /* Move the control outside */
}

.custom-carousel .carousel-item {
    padding: 0 5%; /* Add some padding to prevent content from being too close to the controls */
}

.button-group-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button-group-centered .btn {
    width: 100%; /* Adjust the width as needed */
    margin-bottom: 10px; /* Add spacing between buttons */
}
